server6:
    listen:
    - "[::]"

    plugins:
        # mandatory for RFC compliance
        - server_id: LL 00:de:ad:be:ef:00
        # always provide the same IP address, no matter who's asking:
        # - bluefield: bluefield_config.yaml
        # break the plugin chain based on whitelisted or balcklisted mac address
        - macfilter: macfilter_config.yaml
        # implement HTTPBoot
        - httpboot: httpboot_config.yaml
        # add leased IPs to ironcore's IPAM
        - ipam: ipam_config.yaml
        # lease IPs based on /127 subnets coming from relays running on the switches
        - onmetal: onmetal_config.yaml
        # announce DNS servers per DHCP
        - dns: 2001:4860:4860::6464 2001:4860:4860::64
        # implement (i)PXE boot
        - pxeboot: pxeboot_config.yaml
        # create Endpoint objects in kubernetes
        - metal: metal_config.yaml